.container {
  background-color: #dfe9f5;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  border: 0px;
  box-shadow: 10px 20px 10px 5px #72a5ab;
  border-radius: 10px;
  max-width: 500px;
  /* #c4e0e5 */
}

@media (min-width: 800px) {
  .main {
    max-width: 400px;
  }
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    height: 100%;
  }
}
